In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
import seaborn as sns

Read the dataset

In [2]:
path = '../Dataset/bank_customer.csv'
df = pd.read_csv(path)

In [3]:
df.head()

,Unnamed: 0,ID,Gender,Month_Income,Age,Region_Code,Occupation,Credit_Score,Loan_Status,Existing_Credit_Cards,Avg_Account_Balance,Account_Category,Tenure_with_Bank,Lead_Outcome
0,0,VBENBARO,Male,96345.0,29,254,Other,623,Yes,4,742366,X1,2,No
1,1,CCMEWNKY,Male,85640.0,43,268,Other,629,NaN,0,925537,X2,1,No
2,2,VK3KGA9M,Male,96345.0,31,270,Salaried,357,No,0,215949,X1,1,No
3,3,TT8RPZVC,Male,85640.0,29,272,Other,356,No,0,868070,X1,3,No
4,4,SHQZEYTZ,Female,42820.0,29,270,Other,572,No,0,657087,X1,3,No

Data Gathering and Exploration

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105000 entries, 0 to 104999
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             105000 non-null  int64
 1   ID                     105000 non-null  object
 2   Gender                 105000 non-null  object
 3   Month_Income           102514 non-null  float64
 4   Age                    105000 non-null  int64
 5   Region_Code            105000 non-null  int64
 6   Occupation             102486 non-null  object
 7   Credit_Score           105000 non-null  int64
 8   Loan_Status            92511 non-null   object
 9   Existing_Credit_Cards  105000 non-null  int64
 10  Avg_Account_Balance    105000 non-null  int64
 11  Account_Category       105000 non-null  object
 12  Tenure_with_Bank       105000 non-null  int64
 13  Lead_Outcome           105000 non-null  object
dtypes: float64(1), int64(7), object(6)
memory usage: 11.2+ MB

In [5]:
#selecting categorical columns

categorical_cols = df.select_dtypes(include=['object']).columns.to_list()
categorical_cols

['ID',
 'Gender',
 'Occupation',
 'Loan_Status',
 'Account_Category',
 'Lead_Outcome']

In [6]:
#selecting numerical columns

numerical_cols = df.select_dtypes(include=['float64','int64']).columns.to_list()
numerical_cols

['Unnamed: 0',
 'Month_Income',
 'Age',
 'Region_Code',
 'Credit_Score',
 'Existing_Credit_Cards',
 'Avg_Account_Balance',
 'Tenure_with_Bank']

In [7]:
missing_values = df.isna().sum().to_dict()

# Filter columns with missing values
columns_with_missing_values = {k: v for k, v in missing_values.items() if v > 0}

column_data_types = df.dtypes.to_dict()

numerical_missing = {k: v for k, v in columns_with_missing_values.items() if column_data_types[k] in ['int64', 'float64']}
categorical_missing = {k: v for k, v in columns_with_missing_values.items() if column_data_types[k] == 'object'}

print("Numerical columns with missing values:", numerical_missing)
print("Categorical columns with missing values:", categorical_missing)

Numerical columns with missing values: {'Month_Income': 2486}
Categorical columns with missing values: {'Occupation': 2514, 'Loan_Status': 12489}

Fill the missing values in the columns

In [8]:
for column in categorical_missing:
    if df[column].isnull().any():
        df[column] = df[column].fillna(df[column].mode()[0])

In [9]:
for column in numerical_missing:
    if df[column].isnull().any():
        df[column] = df[column].fillna(df[column].mean())